<% provide( :title, @station.name+" New Product Entry") %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">

  <div class="x_panel" style="">
      <div class="x_title">
<h3> New Product</h3>
</div>      
<p>

  <strong>Branch Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @station.company.name %>
</p>

<br>
<br>
<br>
  
      <%= render "products/form"%>


<br/>
</div>
</div>
</div>
</div>
