
 <aside class="sidebar sidebar-expand-lg sidebar-iconic">
     
      <nav class="sidebar-navigation">
        <ul class="menu">

          <li class="menu-item active">
            <a class="menu-link" href="/dashboard">
              <span class="icon fa fa-home"></span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="/lawfirm-users-repository">
              <span class="icon fa fa-user"></span>
              <span class="title">users</span>
              
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/lawfirm-legalcases-repository">
              <span class="icon fa fa-legal"></span>
              <span class="title">Legal Case</span>
              
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#">
              <span class="icon fa fa-file-text-o"></span>
              <span class="title">Payments</span>
            </a>
          </li>
            <li class="menu-item">
            <a class="menu-link" href="/PFPM02FLORDO2WZF4QU47NORRUUP6WSU80K7K7VMRZKYP5JIDZAWLXP5KBNIMPV4E0QYWJSQUB5-acetracecms-forum-repo">
              <span class="icon fa fa-comment"></span>
              <span class="title">Forum</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="">
              <span class="icon fa fa-cogs"></span>
              <span class="title">Settings</span>
            </a>
          </li>

        </ul>
      </nav>

    </aside>